[submodule "dotact-api"]
	path = dotact-api
	url = https://github.com/9xDevelopers/dotact-api
[submodule "dotact-web"]
	path = dotact-web
	url = https://github.com/9xDevelopers/dotact-web
[submodule "dotact-mobile"]
	path = dotact-mobile
	url = https://github.com/9xDevelopers/dotact-mobile
